/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */

header{
  background-color: #26d0c9;
  height: 90px;
}

header li{
  color: #fff;
  display: inline;
  margin-left: 20px;
  float: left;
  margin: 33px;
}

header .logo-text{
  margin: 20px 40px;
  font-size: 36px;
}
.hello{
 padding: 100px 80px 0px 80px;
}

.hello h1{
  font-size: 140px;
}

.hello h2{
  font-size: 60px;
}

.hello span{
  color: #ff4a4a;
}

.contents{
  padding: 100px 80px;
  height: 500px;
}

.garis-batas{
  color: #dee7ec;
}

.contents h3{
  font-size: 28px;
  margin-bottom: 15px;
}

.contents-item{
  margin-top: 50px;
  float: left;
}

.contents-item img{
  margin-bottom: 30px;
  margin-right: 40px;
}

.contents-item p{
  font-size: 24px;
}

.contact-us{
  padding: 0px 80px 100px 80px;
}

.contact-us h3{
  font-size: 28px;
}

.contact-us-item{
  width: 400px;
  /*border: 1px solid #dee7ec;*/
}

.contact-us-item p{
  margin-bottom: 10px;

}

.contact-us-item button{
  font-size: 18px;
  padding: 20px;
  width: 100%;
  background-color: #dee7ec;
  border: #dee7ec;
  color: #889eab;
  margin-bottom: 30px;
}

.contact-us-item input{
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  margin-bottom: 30px;

}

.contact-us-item textarea{
  width: 100%;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #dee7ec;
  margin-bottom: 30px;
}

.contact-us-item-all{
  margin-top: 50px;
}

footer{
  padding: 40px 40px;
  background-color: #2f5167;
  color: #fff;
  overflow: auto;
}

footer p{
  font-size: 32px;
  float: left;
}

footer ul{
  float: right;
}

footer li{
  margin-bottom: 20px;
}
